body{
    padding: 100px;
}

.deposit_input,
.withdraw_input,
.submit_area{
    box-shadow: 5px 5px 10px gray;
    padding: 50px;
    border-radius: 10px;
    margin-top: 50px;
}
.submit_area h4{
    font-size: 26px;
    font-family: 600;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
.status{
    margin: 0 20px;
    color: white;
    border-radius: 10px;
    padding: 20px;
}
#transeection_area{
    display: none;
}